body{
  background-image: url("images/barn.jpg");
  width: 100% auto ;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}
img {
  width:200px;
  height:200px;
  position: relative;
}
